.login-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  width: 250px;
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.alert-box {
  width: 95%;
  margin-top: 20px;
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

@media screen and (min-width: 350px) {
  .login-box {
    width: 300px;
  }
}

@media screen and (min-width: 600px) {
  .login-box {
    width: 550px;
  }
}
